# Data Science Tools and Ecosystem

## Introduction
In this notebook, we summarize the key languages, libraries, and tools used by data scientists, along with examples of basic arithmetic operations.

## Popular Data Science Languages
- Python
- R
- SQL
- Scala
- Julia

## Common Data Science Libraries
- Pandas (Python)
- NumPy (Python)
- Scikit-learn (Python)
- TensorFlow (Python)
- ggplot2 (R)

## Data Science Tools

| Tool              | Type                  |
|-------------------|-----------------------|
| Jupyter Notebook  | Development Platform  |
| RStudio           | Development Platform  |
| Apache Spark      | Big Data Framework    |
| GitHub            | Version Control       |
| IBM Watson Studio | Collaborative Platform|

## Arithmetic Expression Examples
Below are some basic arithmetic operations such as multiplication and addition.

In [9]:
# Multiplication and Addition
a = 5
b = 10
multiply = a * b
addition = a + b
print("Multiplication:", multiply)
print("Addition:", addition)

Multiplication: 50
Addition: 15

In [11]:
# Convert minutes to hours
minutes = 150
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

150 minutes is equal to 2.5 hours.

## Objectives
- List popular data science languages
- List common data science libraries
- Create a table of data science tools
- Perform basic arithmetic operations
- Convert units using Python code

## Author
Vaishnavi Yadavalli